@font-face {
	font-family: 'Avenir';
	src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face{
    font-family: 'Avenir-Black';
    src: url(../fonts/Avenir\ LT\ 95\ Black.ttf);
}

/* about */
#about{
    display: none;
    margin-top: 18vh;
}

#about h1{
    margin-top: 113px;
    font-family: Avenir-Black;
    font-size: 42px;
}

#about p{
    margin-top: 40px;
    font-family: Avenir;
    font-size: 26px;
}

.brk-img-double-wide{
    position:relative;
    padding-bottom:120px;
    z-index:0;
    margin-left:160px;
  }
  .brk-img-double-wide__container{
    width:80%
  }
  .brk-img-double-wide__container:first-child{

    opacity:.5;
    -webkit-transition:opacity .3s,-webkit-transform .3s;
    transition:opacity .3s,transform .3s;
    transition:opacity .3s,transform .3s,-webkit-transform .3s;
    border-top-right-radius:25px;
    border-top-left-radius:25px;
  }
  .brk-bordered-theme .brk-img-double-wide__container:first-child{
    border-top-right-radius:var(--b-radius);
    border-top-left-radius:var(--b-radius);
  }
  .brk-img-double-wide__container:last-child{
    position:absolute;
    right:0;
    top:120px;
    opacity:1;
    -webkit-transition:opacity .3s,-webkit-transform .3s;
    transition:opacity .3s,transform .3s;
    transition:opacity .3s,transform .3s,-webkit-transform .3s;
    border-bottom-left-radius:25px
    
  }
  .brk-bordered-theme .brk-img-double-wide__container:last-child{
    border-bottom-left-radius:var(--b-radius)
  }
  .brk-img-double-wide:hover .brk-img-double-wide__container:first-child{
    z-index:1;
    opacity:1;
    -webkit-transform:translate(30px,30px);
    transform:translate(30px,30px)
  }
  .brk-img-double-wide:hover .brk-img-double-wide__container:last-child{
    z-index:-1;
    opacity:.5;
    -webkit-transform:translate(-30px,-30px);
    transform:translate(-30px,-30px)
  }
  .lazyload{
    border-bottom-left-radius:25px;
    width:60%;
    transform: translate(-80px)
  }

  #about img{
      height: 552px;
      width: 342px;
  }
  
  @media screen and (max-width: 480px) {
    .brk-img-double-wide__container:first-child{
        overflow: hidden;
    }

    .brk-img-double-wide__container:last-child{
        overflow: hidden;
    }
        .brk-img-double-wide:hover .brk-img-double-wide__container:first-child{
        z-index:1;
        opacity:1;
        -webkit-transform:translate(10px,10px);
        transform:translate(10px,10px);
    }
    .brk-img-double-wide:hover .brk-img-double-wide__container:last-child{
        z-index:-1;
        opacity:.5;
        -webkit-transform:translate(-20px,-10px);
        transform:translate(-20px,-10px);
    }
    .lazyload{
        border-bottom-left-radius:25px;
        width:100%;
        margin-left: 10%;
        border-radius: 25px;
        transform: translate(0px,0px);
    }.container{
        margin-left: 0%;
        padding-top: 50px;
    }
    .brk-img-double-wide{
        margin-left:0;
    }
    #about img{
        height: auto;
        width: 342px;
    }
  }






/* aarohan */
#arhn{
    display: none;
}

/* cells */
#cells{
    display: none;
}

/* contact */
#contact h1{
    margin-top: 12.3%;
    margin-left: 12.2%;
    font-size: 43px;
    font-weight: 900;
    font-family: Avenir-Black;
}

#contact p{
    margin-left: 12.2%;
    width: 67%;
    margin-top: 3.2%;
    font-family: Avenir;
    font-size: 26px;
}

/* members */
.heading {
    font-family: Avenir;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.heading.member{
    margin-bottom: 80px;
    margin-top: 144px;
}

.heading.member h1{
    font-weight: 900;
}

.heading.faculty{
    margin-top: 211px;
    margin-bottom: 40px;
}

.heading.faculty h1{
    font-weight: 900;
}

.membercard{
    height: 414px;
    width: 275px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    margin-bottom: 120px;
    margin-left: 12px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 9px 9px 13px 3px grey;
}

.membercard figure{
    position: relative;
    color: #000000;
}

.membercard figure img{
    position: absolute;
    width: 100%;
}

.membercard figure svg{
    position: absolute;
}

.membercard figure h1{
    position: absolute;
    font-size: 34px;
    bottom: -1px;
    transition:transform 1s;
}

.membercard figure p{
    bottom: -37px;
    position: absolute;
    transition:transform 1s;
}

.membercard figcaption{
    position: relative;
    height: 414px;
    transition-duration: 0.5s;
}

.membercard figcaption:hover{
	transform: translateY(-65px);
}

.membercard figure svg path{
    fill: #fff;
}

#facpara{
    font-size: 26px;
    margin-bottom: 80px;
}

/* navbar */
  
.sidebar p {
    font-size: 12px;
    font-weight: 500;
    color: black;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
    text-decoration: none;
  }
  
.sidebar a {
      text-decoration: none;
      color: black;
  }
  
.sidebar a:hover {
       color: rgb(8, 62, 240);
       text-decoration: none;
  }
.sidebar {
    font-family: Avenir,sans-serif;
      font-size: 14px;
      background: #d8d8d8;
      width: 100vh;
      height: 72px;
      transform-origin: top left;
      position: fixed;
      left: 0;
      top: 100%;
      transform: rotate(-90deg);
  }
  .icons{
        position: absolute;
        left: 40px;
    }

/* navbar mobile */
@media(max-width: 640px) {
    .menuIcon {
      cursor: pointer;
      display: block;
      position: fixed;
      right: 15px;
      top: 20px;
      height: 23px;
      width: 27px;
      z-index: 56;
    }
  
    /* Icon Bars */
    .icon-bars {
      background: rgb(13, 26, 38);
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    } 
  
    .icon-bars::before {
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    .icon-bars::after {
      margin-top: 0px;
      background: rgb(13, 26, 38);
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
  /*     -webkit-transition: top 0.2s ease 0.3s;
      transition: top 0.2s ease 0.3s; */
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
  
    /* Bars Shadows */
    .icon-bars.overlay {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    } @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
      } @-webkit-keyframes middleBar {
          0% {width: 0px}
          50% {width: 20px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::before {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    } @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
      } @-webkit-keyframes topBar {
          0% {width: 0px}
          50% {width: 10px}
          100% {width: 0px}
        }
  
    .icon-bars.overlay::after {
      background: rgb(97, 114, 129);
      background: rgb(183, 199, 211);
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    } @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
      } @-webkit-keyframes bottomBar {
          0% {width: 0px}
          50% {width: 15px}
          100% {width: 0px}
        }
  
  
    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
  
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
  }
  
  
  /*======================================================
                     Responsive Mobile Menu 
    ======================================================*/
    #menu p{
        float: right;
        padding-left: 15px;
    }
  
    .overlay-menu {
    background: lightblue;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 55;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
  }
  
  .overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
  }
  
  .overlay-menu li a {
    display: block;
    font-size: 1.8em;
    letter-spacing: 4px;
  /*   opacity: 0; */
    padding: 10px 0;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
    transition: 0.2s opacity 0.2s ease-out; */
  }
  
  .overlay-menu li a:hover,
  .overlay-menu li a:active {
    color: rgb(28, 121, 184);
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }




    /* contact us*/
    #contact{
        display: none;
    }

/* logos */

.cca{
    position: absolute;
    left: 12%;
    top: 2%;
}

.cca img{
    height: 50px;
    width: 50px;
}

.arhn {
    position: absolute;
    right: 5.5%;
    top:2.9%;
    width: 294px;
    height: 48px;
    border-radius: 28px;
    background-color: #d8d8d8;
  }

  .arhn p{
      float: left;
      margin-top: 0;
      padding-top: 14px;
  }

.arhn img{
    float: left;
    width: 48px;
    height: 48px;
}

.arhn p{
    width: 179px;
    height: 27px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
}

/* loader */
.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: bisque;
	z-index: 57;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
}

.pageload-overlay svg path {
	fill: #fff;
}
.pagewrap {
	visibility: hidden;
}

.pageload-overlay::after,
.pageload-overlay::before {
	content: '';
	position: fixed;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.15s, visibility 0s 0.15s;
	transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
	background-color: #6cc88a;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-animation: moveRight 0.6s linear infinite alternate;
	animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
	background-color: #4fc3f7;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-animation: moveLeft 0.6s linear infinite alternate;
	animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
	to { -webkit-transform: translateX(20px); }
}

@keyframes moveRight {
	to { transform: translateX(20px); }
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(-20px); }
}

@keyframes moveLeft {
	to { transform: translateX(-20px); }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}



@media screen and (max-width: 600px){
    /* logo */
    .arhn,.cca{
        display: none;
    }

    /* member */
    .membercard figure svg{
        height: 414px;
        width: 80vw;
    }

    .heading.member {
        margin-bottom: 8vh;
        margin-top: 12vh;
        text-align: center;
    }
    
    .heading.faculty{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .membercard{
        width: 80vw;
        margin-left: 10vw;
    }

    .no-gutter > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    /* about */
    #about{
        text-align: center;
        margin-top: 0;
    }

    #about h1{
        margin-top: 50px;
    }
    
    #about p{
        font-size: 20px;
    }

    /* sidebar */
    
    .sidebar{
        display: none;
    }

    /* contact */
    #contact{
        text-align: center;
    }

    #contact p{
        margin-left: 0;
        width: auto;
        margin-top: 3.2%;
        font-family: Avenir;
        font-size: 20px;
    }

    #contact h1{
        margin-top: 10vh;
        margin-left: 0;
        font-size: 40px;
        font-weight: 900;
    }

}