@font-face {
	font-family: 'Avenir';
	src: url(../fonts/AvenirLTStd-Book.otf);
}
/* members */
.heading {
    font-family: Avenir;
    font-size: 42px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.heading.member{
    margin-bottom: 80px;
    margin-top: 144px;
}

.heading.member h1{
    font-weight: 900;
}

.heading.faculty{
    margin-top: 211px;
    margin-bottom: 40px;
}

.heading.faculty h1{
    font-weight: 900;
}

.membercard{
    height: 414px;
    width: 275px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    margin-bottom: 120px;
    margin-left: 12px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 9px 9px 13px 3px grey;
}

.membercard figure{
    position: relative;
    color: #000000;
}

.membercard figure img{
    position: absolute;
    width: 100%;
}

.membercard figure svg{
    position: absolute;
}

.membercard figure h1{
    position: absolute;
    font-size: 34px;
    bottom: -1px;
    transition:transform 1s;
}

.membercard figure p{
    bottom: -37px;
    position: absolute;
    transition:transform 1s;
}

.membercard figcaption{
    position: relative;
    height: 414px;
    transition-duration: 0.5s;
}

.membercard figcaption:hover{
	transform: translateY(-65px);
}

.membercard figure svg path{
    fill: #fff;
}

#facpara{
    font-size: 26px;
    margin-bottom: 80px;
}

/* navbar */
  
.sidebar p {
    font-size: 12px;
    font-weight: 500;
    color: black;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
    text-decoration: none;
  }
  
.sidebar a {
      text-decoration: none;
      color: black;
  }
  
.sidebar a:hover {
       color: rgb(8, 62, 240);
  }
.sidebar {
    font-family: Avenir,sans-serif;
      font-size: 14px;
      background-color: #f1f1f1;
      background: #f6f6f6;
      width: 100vh;
      height: 72px;
      transform-origin: top left;
      position: fixed;
      left: 0;
      top: 100%;
      transform: rotate(-90deg);
  }
  .icons{
        position: absolute;
        left: 40px;
    }

    /* contact us*/
    #contact{
        display: none;
    }

/* logos */
.arhn {
    position: absolute;
    right: 5.5%;
    top:2.9%;
    width: 294px;
    height: 48px;
    border-radius: 28px;
    background-color: #d8d8d8;
  }

  .arhn p{
      float: left;
      margin-top: 0;
      padding-top: 14px;
  }

.arhn img{
    float: left;
    width: 48px;
    height: 48px;
}

.arhn p{
    width: 179px;
    height: 27px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.5);
}

/* loader */
.pageload-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: bisque;
	z-index: 55;
}

.pageload-overlay.show {
	visibility: visible;
}

.pageload-overlay svg {
	position: absolute;
	top: 0;
	left: 0;
}

.pageload-overlay svg path {
	fill: #fff;
}
.pagewrap {
	visibility: hidden;
}

.pageload-overlay::after,
.pageload-overlay::before {
	content: '';
	position: fixed;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
	border-radius: 50%;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
	-webkit-transition: opacity 0.15s, visibility 0s 0.15s;
	transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload-overlay::after {
	background-color: #6cc88a;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	-webkit-animation: moveRight 0.6s linear infinite alternate;
	animation: moveRight 0.6s linear infinite alternate;
}

.pageload-overlay::before {
	background-color: #4fc3f7;
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
	-webkit-animation: moveLeft 0.6s linear infinite alternate;
	animation: moveLeft 0.6s linear infinite alternate;
}

@-webkit-keyframes moveRight {
	to { -webkit-transform: translateX(20px); }
}

@keyframes moveRight {
	to { transform: translateX(20px); }
}

@-webkit-keyframes moveLeft {
	to { -webkit-transform: translateX(-20px); }
}

@keyframes moveLeft {
	to { transform: translateX(-20px); }
}

.pageload-loading.pageload-overlay::after,
.pageload-loading.pageload-overlay::before {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}




@media screen and (max-width: 600px){
    /* logo */
    .arhn{
        display: none;
    }

    /* member */
    .membercard figure svg{
        height: 414px;
        width: 80vw;
    }

    .heading.member{
        margin-bottom: 80px;
        margin-top: 10px;
    }
    
    .heading.faculty{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .membercard{
        width: 80vw;
        margin-left: 10vw;
    }

    .no-gutter > [class*='col-'] {
        padding-right:0;
        padding-left:0;
    }

    /* sidebar */
    
    .sidebar{
        display: none;
    }


}